#input-text {
    color: white !important;
    background-color: rgb(60,60,60) !important;
    border: 1px solid rgb(80,80,80);
}

#btn-send {
    width: 100px;
    color: white;
    background-color: rgb(60,60,60);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transition: 0.2s;
}

#btn-send:hover {
    background-color: rgb(80,80,80);
}